.project-card {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover .card {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.project-card:hover .card-title {
    color: #007BFF; /* Couleur au survol du titre */
}

.card {
    border: none;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-link {
    font-weight: bold;
    color: #007BFF;
    margin-top: 10px;
    display: inline-block;
}
